{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <h1>Search results:</h1>
        {% block search %}
        <form class="d-flex" method=POST action="{% url 'recipes:search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search" name="searched">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
        {% endblock %}
        <br>
        {% if searched %}
            <ul class="list-group">
                {% for recipe in results %}
                    <a href="{% url 'recipes:detail' recipe.id %}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ recipe.recipe_name }}</div>
                            {{ recipe.description }}
                        </div>
                        <span class="badge bg-primary rounded-pill">{{ recipe.people }} servings</span>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>You forgot to provide a search term.</p>
        {% endif %}
    </div>
{% endblock %}